/*全局样式表*/
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  /*background-image: url(../02.jpeg);*/
  /*background-attachment:fixed;*/
  background-color: #E0FFFF;
  line-height: 30px;
  /* min-width: 1000px; */
}